<a href="https://colab.research.google.com/github/sabaakram539/Book_Recommendation_System/blob/main/BookRecommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Through this project, I am going to do a project on Clustering. It will reccoomend the books to the users based on the books that users read. Data set is taken from Kaggle. Let's import the libraries and then the datasets.

In [2]:
import numpy as np
import pandas as pd

In [3]:
books=pd.read_csv("BX-Books.csv",sep=";",error_bad_lines=False,encoding="latin-1", engine="python")

Skipping line 815: ';' expected after '"'
Skipping line 1679: ';' expected after '"'
Skipping line 2531: ';' expected after '"'
Skipping line 2640: ';' expected after '"'
Skipping line 3236: ';' expected after '"'
Skipping line 3256: ';' expected after '"'
Skipping line 4906: ';' expected after '"'
Skipping line 6452: ';' expected after '"'
Skipping line 8349: ';' expected after '"'
Skipping line 9669: ';' expected after '"'
Skipping line 9723: ';' expected after '"'
Skipping line 10010: ';' expected after '"'
Skipping line 10192: ';' expected after '"'
Skipping line 10754: ';' expected after '"'
Skipping line 10824: ';' expected after '"'
Skipping line 10862: ';' expected after '"'
Skipping line 11442: ';' expected after '"'
Skipping line 11584: ';' expected after '"'
Skipping line 11859: ';' expected after '"'
Skipping line 12206: ';' expected after '"'
Skipping line 12229: ';' expected after '"'
Skipping line 12719: ';' expected after '"'
Skipping line 12885: ';' expected after '"'
Skipping line 13376: ';' expected after '"'
Skipping line 13380: ';' expected after '"'
Skipping line 13394: ';' expected after '"'
Skipping line 13639: ';' expected after '"'
Skipping line 14346: ';' expected after '"'
Skipping line 14723: ';' expected after '"'
Skipping line 14769: ';' expected after '"'
Skipping line 14936: ';' expected after '"'
Skipping line 14977: ';' expected after '"'
Skipping line 15633: ';' expected after '"'
Skipping line 15690: ';' expected after '"'
Skipping line 15772: ';' expected after '"'
Skipping line 15853: ';' expected after '"'
Skipping line 16088: ';' expected after '"'
Skipping line 16090: ';' expected after '"'
Skipping line 17320: ';' expected after '"'
Skipping line 17410: ';' expected after '"'
Skipping line 17665: ';' expected after '"'
Skipping line 17997: ';' expected after '"'
Skipping line 18095: ';' expected after '"'
Skipping line 18839: ';' expected after '"'
Skipping line 19156: ';' expected after '"'
Skipping line 19510: ';' expected after '"'
Skipping line 20266: ';' expected after '"'
Skipping line 20434: ';' expected after '"'
Skipping line 21438: ';' expected after '"'
Skipping line 21602: ';' expected after '"'
Skipping line 21719: ';' expected after '"'
Skipping line 21889: ';' expected after '"'
Skipping line 22197: ';' expected after '"'
Skipping line 22460: ';' expected after '"'
Skipping line 23571: ';' expected after '"'
Skipping line 23786: ';' expected after '"'
Skipping line 24257: ';' expected after '"'
Skipping line 24719: ';' expected after '"'
Skipping line 24924: ';' expected after '"'
Skipping line 25849: ';' expected after '"'
Skipping line 26079: ';' expected after '"'
Skipping line 26151: ';' expected after '"'
Skipping line 26234: ';' expected after '"'
Skipping line 26235: ';' expected after '"'
Skipping line 26299: ';' expected after '"'
Skipping line 26538: ';' expected after '"'
Skipping line 26659: ';' expected after '"'
Skipping line 26660: ';' expected after '"'
Skipping line 27295: ';' expected after '"'
Skipping line 27758: ';' expected after '"'
Skipping line 27759: ';' expected after '"'
Skipping line 27781: ';' expected after '"'
Skipping line 28220: ';' expected after '"'
Skipping line 28297: ';' expected after '"'
Skipping line 28443: ';' expected after '"'
Skipping line 28600: ';' expected after '"'
Skipping line 28803: ';' expected after '"'
Skipping line 28913: ';' expected after '"'
Skipping line 29505: ';' expected after '"'
Skipping line 29863: unexpected end of data

In [4]:
books.head()

         ISBN  ...                                        Image-URL-L
0  0195153448  ...  http://images.amazon.com/images/P/0195153448.0...
1  0002005018  ...  http://images.amazon.com/images/P/0002005018.0...
2  0060973129  ...  http://images.amazon.com/images/P/0060973129.0...
3  0374157065  ...  http://images.amazon.com/images/P/0374157065.0...
4  0393045218  ...  http://images.amazon.com/images/P/0393045218.0...

[5 rows x 8 columns]

In [5]:
books.shape

(29782, 8)

In [6]:
books.head(2)

         ISBN  ...                                        Image-URL-L
0  0195153448  ...  http://images.amazon.com/images/P/0195153448.0...
1  0002005018  ...  http://images.amazon.com/images/P/0002005018.0...

[2 rows x 8 columns]

In [7]:
books.rename(columns={"Book-Title":"Title","Book-Author":"Author","Year-Of-Publication":"Year"},inplace=True)

In [8]:
books.head(2)

         ISBN  ...                                        Image-URL-L
0  0195153448  ...  http://images.amazon.com/images/P/0195153448.0...
1  0002005018  ...  http://images.amazon.com/images/P/0002005018.0...

[2 rows x 8 columns]

In [9]:
books=books[["ISBN","Title","Author","Year","Publisher"]]
books.head(2)

         ISBN                Title  ...  Year                Publisher
0  0195153448  Classical Mythology  ...  2002  Oxford University Press
1  0002005018         Clara Callan  ...  2001    HarperFlamingo Canada

[2 rows x 5 columns]

In [10]:
users=pd.read_csv("BX-Users.csv",sep=";",error_bad_lines=False,encoding="latin-1",engine="python")

Skipping line 269: ';' expected after '"'
Skipping line 1104: ';' expected after '"'
Skipping line 1274: ';' expected after '"'
Skipping line 1307: ';' expected after '"'
Skipping line 1696: ';' expected after '"'
Skipping line 1703: ';' expected after '"'
Skipping line 1999: ';' expected after '"'
Skipping line 2300: ';' expected after '"'
Skipping line 2450: ';' expected after '"'
Skipping line 2577: ';' expected after '"'
Skipping line 2665: ';' expected after '"'
Skipping line 2713: ';' expected after '"'
Skipping line 2728: ';' expected after '"'
Skipping line 2818: ';' expected after '"'
Skipping line 2870: ';' expected after '"'
Skipping line 2940: ';' expected after '"'
Skipping line 2998: ';' expected after '"'
Skipping line 3404: ';' expected after '"'
Skipping line 3935: ';' expected after '"'
Skipping line 4342: ';' expected after '"'
Skipping line 4446: ';' expected after '"'
Skipping line 4641: ';' expected after '"'
Skipping line 4757: ';' expected after '"'
Skipping line 5113: ';' expected after '"'
Skipping line 5211: ';' expected after '"'
Skipping line 5421: ';' expected after '"'
Skipping line 5534: ';' expected after '"'
Skipping line 6417: ';' expected after '"'
Skipping line 7147: ';' expected after '"'
Skipping line 7862: ';' expected after '"'
Skipping line 8431: ';' expected after '"'
Skipping line 8519: ';' expected after '"'
Skipping line 8612: ';' expected after '"'
Skipping line 8676: ';' expected after '"'
Skipping line 8726: ';' expected after '"'
Skipping line 8877: ';' expected after '"'
Skipping line 10047: ';' expected after '"'
Skipping line 10278: ';' expected after '"'
Skipping line 10725: ';' expected after '"'
Skipping line 10744: ';' expected after '"'
Skipping line 10873: ';' expected after '"'
Skipping line 10884: ';' expected after '"'
Skipping line 11470: ';' expected after '"'
Skipping line 11978: ';' expected after '"'
Skipping line 12037: ';' expected after '"'
Skipping line 12986: ';' expected after '"'
Skipping line 13943: ';' expected after '"'
Skipping line 14067: ';' expected after '"'
Skipping line 14650: ';' expected after '"'
Skipping line 14963: ';' expected after '"'
Skipping line 15284: ';' expected after '"'
Skipping line 15974: ';' expected after '"'
Skipping line 16916: ';' expected after '"'
Skipping line 17240: ';' expected after '"'
Skipping line 18019: ';' expected after '"'
Skipping line 18304: ';' expected after '"'
Skipping line 18583: ';' expected after '"'
Skipping line 18758: ';' expected after '"'
Skipping line 19480: ';' expected after '"'
Skipping line 20045: ';' expected after '"'
Skipping line 20133: ';' expected after '"'
Skipping line 20407: ';' expected after '"'
Skipping line 20424: ';' expected after '"'
Skipping line 20611: ';' expected after '"'
Skipping line 22161: ';' expected after '"'
Skipping line 22287: ';' expected after '"'
Skipping line 22637: ';' expected after '"'
Skipping line 22648: ';' expected after '"'
Skipping line 23400: ';' expected after '"'
Skipping line 25344: ';' expected after '"'
Skipping line 26064: ';' expected after '"'
Skipping line 26897: ';' expected after '"'
Skipping line 27046: ';' expected after '"'
Skipping line 27557: ';' expected after '"'
Skipping line 27738: ';' expected after '"'
Skipping line 28601: ';' expected after '"'
Skipping line 29255: ';' expected after '"'
Skipping line 29313: ';' expected after '"'
Skipping line 29535: ';' expected after '"'
Skipping line 29686: ';' expected after '"'
Skipping line 30232: ';' expected after '"'
Skipping line 31606: ';' expected after '"'
Skipping line 32124: ';' expected after '"'
Skipping line 32423: ';' expected after '"'
Skipping line 33979: ';' expected after '"'
Skipping line 34215: ';' expected after '"'
Skipping line 34885: ';' expected after '"'
Skipping line 35601: ';' expected after '"'
Skipping line 36009: ';' expected after '"'
Skipping line 36333: ';' expected after '"'
Skipping line 36657: ';' expected after '"'
Skipping line 37018: ';' expected after '"'
Skipping line 37286: ';' expected after '"'
Skipping line 37304: ';' expected after '"'
Skipping line 38158: ';' expected after '"'
Skipping line 38730: ';' expected after '"'
Skipping line 38775: ';' expected after '"'
Skipping line 39133: ';' expected after '"'
Skipping line 39434: ';' expected after '"'
Skipping line 39775: ';' expected after '"'
Skipping line 39807: ';' expected after '"'
Skipping line 39822: ';' expected after '"'
Skipping line 39959: ';' expected after '"'
Skipping line 40655: ';' expected after '"'
Skipping line 41165: ';' expected after '"'
Skipping line 41616: ';' expected after '"'
Skipping line 42605: ';' expected after '"'
Skipping line 43683: ';' expected after '"'
Skipping line 46512: ';' expected after '"'
Skipping line 46564: ';' expected after '"'
Skipping line 47274: ';' expected after '"'
Skipping line 48583: ';' expected after '"'
Skipping line 48634: ';' expected after '"'
Skipping line 48890: ';' expected after '"'
Skipping line 48896: ';' expected after '"'
Skipping line 49005: ';' expected after '"'
Skipping line 49520: ';' expected after '"'
Skipping line 49538: ';' expected after '"'
Skipping line 50476: ';' expected after '"'
Skipping line 50991: ';' expected after '"'
Skipping line 51058: ';' expected after '"'
Skipping line 52821: ';' expected after '"'
Skipping line 52849: ';' expected after '"'
Skipping line 53189: ';' expected after '"'
Skipping line 54111: ';' expected after '"'
Skipping line 54887: ';' expected after '"'
Skipping line 55212: ';' expected after '"'
Skipping line 55681: ';' expected after '"'
Skipping line 56017: ';' expected after '"'
Skipping line 56220: ';' expected after '"'
Skipping line 56333: ';' expected after '"'
Skipping line 56941: ';' expected after '"'
Skipping line 58506: ';' expected after '"'
Skipping line 59767: ';' expected after '"'
Skipping line 59775: ';' expected after '"'
Skipping line 60959: ';' expected after '"'
Skipping line 61942: ';' expected after '"'
Skipping line 62386: ';' expected after '"'
Skipping line 62854: ';' expected after '"'
Skipping line 63603: ';' expected after '"'
Skipping line 63615: ';' expected after '"'
Skipping line 63636: ';' expected after '"'
Skipping line 64132: ';' expected after '"'
Skipping line 64189: ';' expected after '"'
Skipping line 65670: ';' expected after '"'
Skipping line 65872: ';' expected after '"'
Skipping line 65899: ';' expected after '"'
Skipping line 66292: ';' expected after '"'
Skipping line 66510: ';' expected after '"'
Skipping line 66867: ';' expected after '"'
Skipping line 69343: ';' expected after '"'
Skipping line 70306: ';' expected after '"'
Skipping line 72130: ';' expected after '"'
Skipping line 72247: ';' expected after '"'
Skipping line 72299: ';' expected after '"'
Skipping line 72399: ';' expected after '"'
Skipping line 72594: ';' expected after '"'
Skipping line 73227: ';' expected after '"'
Skipping line 73944: ';' expected after '"'
Skipping line 74792: ';' expected after '"'
Skipping line 75327: ';' expected after '"'
Skipping line 76438: ';' expected after '"'
Skipping line 76520: ';' expected after '"'
Skipping line 76754: ';' expected after '"'
Skipping line 77026: ';' expected after '"'
Skipping line 77593: ';' expected after '"'
Skipping line 78690: ';' expected after '"'
Skipping line 78841: ';' expected after '"'
Skipping line 78967: ';' expected after '"'
Skipping line 79145: ';' expected after '"'
Skipping line 79387: ';' expected after '"'
Skipping line 79469: ';' expected after '"'
Skipping line 80171: ';' expected after '"'
Skipping line 80341: ';' expected after '"'
Skipping line 80503: ';' expected after '"'
Skipping line 81722: ';' expected after '"'
Skipping line 82535: ';' expected after '"'
Skipping line 82591: ';' expected after '"'
Skipping line 82748: ';' expected after '"'
Skipping line 83103: ';' expected after '"'
Skipping line 83371: ';' expected after '"'
Skipping line 83523: ';' expected after '"'
Skipping line 83723: ';' expected after '"'
Skipping line 84303: ';' expected after '"'
Skipping line 84364: ';' expected after '"'
Skipping line 84862: ';' expected after '"'
Skipping line 84866: ';' expected after '"'
Skipping line 84987: ';' expected after '"'
Skipping line 85645: ';' expected after '"'
Skipping line 86909: ';' expected after '"'
Skipping line 86935: ';' expected after '"'
Skipping line 87030: ';' expected after '"'
Skipping line 87184: ';' expected after '"'
Skipping line 87235: ';' expected after '"'
Skipping line 87318: ';' expected after '"'
Skipping line 87558: ';' expected after '"'
Skipping line 87789: ';' expected after '"'
Skipping line 87791: ';' expected after '"'
Skipping line 88262: ';' expected after '"'
Skipping line 89250: ';' expected after '"'
Skipping line 89548: ';' expected after '"'
Skipping line 90263: ';' expected after '"'
Skipping line 91514: ';' expected after '"'
Skipping line 91701: ';' expected after '"'
Skipping line 92531: ';' expected after '"'
Skipping line 92929: ';' expected after '"'
Skipping line 93061: ';' expected after '"'
Skipping line 94807: ';' expected after '"'
Skipping line 94871: ';' expected after '"'
Skipping line 95215: ';' expected after '"'
Skipping line 95279: ';' expected after '"'
Skipping line 95324: ';' expected after '"'
Skipping line 95541: ';' expected after '"'
Skipping line 95784: ';' expected after '"'
Skipping line 95875: ';' expected after '"'
Skipping line 95973: ';' expected after '"'
Skipping line 95990: ';' expected after '"'
Skipping line 96098: ';' expected after '"'
Skipping line 96107: ';' expected after '"'
Skipping line 96470: ';' expected after '"'
Skipping line 96784: ';' expected after '"'
Skipping line 96941: ';' expected after '"'
Skipping line 97124: ';' expected after '"'
Skipping line 97360: ';' expected after '"'
Skipping line 97725: ';' expected after '"'
Skipping line 97894: ';' expected after '"'
Skipping line 98585: ';' expected after '"'
Skipping line 98698: ';' expected after '"'
Skipping line 99128: ';' expected after '"'
Skipping line 99983: ';' expected after '"'
Skipping line 100176: ';' expected after '"'
Skipping line 100183: ';' expected after '"'
Skipping line 100647: ';' expected after '"'
Skipping line 101077: ';' expected after '"'
Skipping line 101454: ';' expected after '"'
Skipping line 101538: ';' expected after '"'
Skipping line 101779: ';' expected after '"'
Skipping line 101816: ';' expected after '"'
Skipping line 102570: ';' expected after '"'
Skipping line 102605: ';' expected after '"'
Skipping line 102746: ';' expected after '"'
Skipping line 103500: ';' expected after '"'
Skipping line 103608: ';' expected after '"'
Skipping line 103813: ';' expected after '"'
Skipping line 104036: ';' expected after '"'
Skipping line 104093: ';' expected after '"'
Skipping line 104195: ';' expected after '"'
Skipping line 104217: ';' expected after '"'
Skipping line 104322: ';' expected after '"'
Skipping line 104798: ';' expected after '"'
Skipping line 104888: ';' expected after '"'
Skipping line 105001: ';' expected after '"'
Skipping line 105068: ';' expected after '"'
Skipping line 105398: ';' expected after '"'
Skipping line 106034: ';' expected after '"'
Skipping line 106713: ';' expected after '"'
Skipping line 107032: ';' expected after '"'
Skipping line 107559: ';' expected after '"'
Skipping line 107744: ';' expected after '"'
Skipping line 108066: ';' expected after '"'
Skipping line 108305: ';' expected after '"'
Skipping line 109301: ';' expected after '"'
Skipping line 109377: ';' expected after '"'
Skipping line 109497: ';' expected after '"'
Skipping line 111190: ';' expected after '"'
Skipping line 112060: ';' expected after '"'
Skipping line 112727: ';' expected after '"'
Skipping line 113553: ';' expected after '"'
Skipping line 114089: ';' expected after '"'
Skipping line 114134: ';' expected after '"'
Skipping line 115220: ';' expected after '"'
Skipping line 116554: ';' expected after '"'
Skipping line 116803: ';' expected after '"'
Skipping line 116994: ';' expected after '"'
Skipping line 117161: ';' expected after '"'
Skipping line 118111: ';' expected after '"'
Skipping line 118240: ';' expected after '"'
Skipping line 118247: ';' expected after '"'
Skipping line 118316: ';' expected after '"'
Skipping line 118515: ';' expected after '"'
Skipping line 118605: ';' expected after '"'
Skipping line 119012: ';' expected after '"'
Skipping line 119310: ';' expected after '"'
Skipping line 119630: ';' expected after '"'
Skipping line 119747: ';' expected after '"'
Skipping line 119808: ';' expected after '"'
Skipping line 120109: ';' expected after '"'
Skipping line 120246: ';' expected after '"'
Skipping line 120259: ';' expected after '"'
Skipping line 120501: ';' expected after '"'
Skipping line 121907: ';' expected after '"'
Skipping line 122040: ';' expected after '"'
Skipping line 122070: ';' expected after '"'
Skipping line 122348: ';' expected after '"'
Skipping line 122941: ';' expected after '"'
Skipping line 124174: ';' expected after '"'
Skipping line 124496: ';' expected after '"'
Skipping line 124850: ';' expected after '"'
Skipping line 124917: ';' expected after '"'
Skipping line 125325: ';' expected after '"'
Skipping line 125373: ';' expected after '"'
Skipping line 125419: ';' expected after '"'
Skipping line 125773: ';' expected after '"'
Skipping line 125824: ';' expected after '"'
Skipping line 126576: ';' expected after '"'
Skipping line 126776: ';' expected after '"'
Skipping line 126895: ';' expected after '"'
Skipping line 127702: ';' expected after '"'
Skipping line 127967: ';' expected after '"'
Skipping line 130725: ';' expected after '"'
Skipping line 130897: ';' expected after '"'
Skipping line 131293: ';' expected after '"'
Skipping line 131315: ';' expected after '"'
Skipping line 131590: ';' expected after '"'
Skipping line 131818: ';' expected after '"'
Skipping line 132396: ';' expected after '"'
Skipping line 133001: ';' expected after '"'
Skipping line 133885: ';' expected after '"'
Skipping line 134521: ';' expected after '"'
Skipping line 134611: ';' expected after '"'
Skipping line 135546: ';' expected after '"'
Skipping line 136495: ';' expected after '"'
Skipping line 136704: ';' expected after '"'
Skipping line 136851: ';' expected after '"'
Skipping line 136886: ';' expected after '"'
Skipping line 137250: ';' expected after '"'
Skipping line 137489: ';' expected after '"'
Skipping line 138485: ';' expected after '"'
Skipping line 138542: ';' expected after '"'
Skipping line 138840: ';' expected after '"'
Skipping line 140117: ';' expected after '"'
Skipping line 140376: ';' expected after '"'
Skipping line 140983: ';' expected after '"'
Skipping line 141228: ';' expected after '"'
Skipping line 141827: ';' expected after '"'
Skipping line 142171: ';' expected after '"'
Skipping line 142212: ';' expected after '"'
Skipping line 142363: ';' expected after '"'
Skipping line 142491: ';' expected after '"'
Skipping line 143069: ';' expected after '"'
Skipping line 143481: ';' expected after '"'
Skipping line 143926: ';' expected after '"'
Skipping line 144100: ';' expected after '"'
Skipping line 145412: ';' expected after '"'
Skipping line 145562: ';' expected after '"'
Skipping line 146106: ';' expected after '"'
Skipping line 147053: ';' expected after '"'
Skipping line 147083: ';' expected after '"'
Skipping line 147283: ';' expected after '"'
Skipping line 148216: ';' expected after '"'
Skipping line 149819: ';' expected after '"'
Skipping line 150434: ';' expected after '"'
Skipping line 150726: ';' expected after '"'
Skipping line 151449: ';' expected after '"'
Skipping line 152123: ';' expected after '"'
Skipping line 153127: ';' expected after '"'
Skipping line 153428: ';' expected after '"'
Skipping line 153738: ';' expected after '"'
Skipping line 154110: ';' expected after '"'
Skipping line 154146: ';' expected after '"'
Skipping line 154279: ';' expected after '"'
Skipping line 154357: ';' expected after '"'
Skipping line 154497: ';' expected after '"'
Skipping line 154969: ';' expected after '"'
Skipping line 155144: ';' expected after '"'
Skipping line 155579: ';' expected after '"'
Skipping line 155615: ';' expected after '"'
Skipping line 155904: ';' expected after '"'
Skipping line 155979: ';' expected after '"'
Skipping line 156472: ';' expected after '"'
Skipping line 156617: ';' expected after '"'
Skipping line 156620: ';' expected after '"'
Skipping line 156728: ';' expected after '"'
Skipping line 156781: ';' expected after '"'
Skipping line 156858: ';' expected after '"'
Skipping line 156884: ';' expected after '"'
Skipping line 156899: ';' expected after '"'
Skipping line 156917: ';' expected after '"'
Skipping line 157526: ';' expected after '"'
Skipping line 157557: ';' expected after '"'
Skipping line 157894: ';' expected after '"'
Skipping line 158163: ';' expected after '"'
Skipping line 159081: ';' expected after '"'
Skipping line 159183: ';' expected after '"'
Skipping line 159432: ';' expected after '"'
Skipping line 159440: ';' expected after '"'
Skipping line 160140: ';' expected after '"'
Skipping line 160334: ';' expected after '"'
Skipping line 160506: ';' expected after '"'
Skipping line 161015: ';' expected after '"'
Skipping line 161058: ';' expected after '"'
Skipping line 161609: ';' expected after '"'
Skipping line 163225: ';' expected after '"'
Skipping line 163591: ';' expected after '"'
Skipping line 163979: ';' expected after '"'
Skipping line 164123: ';' expected after '"'
Skipping line 164326: ';' expected after '"'
Skipping line 164501: ';' expected after '"'
Skipping line 164588: ';' expected after '"'
Skipping line 164838: ';' expected after '"'
Skipping line 165125: ';' expected after '"'
Skipping line 165333: ';' expected after '"'
Skipping line 165337: ';' expected after '"'
Skipping line 165530: ';' expected after '"'
Skipping line 166346: ';' expected after '"'
Skipping line 166351: ';' expected after '"'
Skipping line 166641: ';' expected after '"'
Skipping line 166692: ';' expected after '"'
Skipping line 166766: ';' expected after '"'
Skipping line 167065: ';' expected after '"'
Skipping line 167164: ';' expected after '"'
Skipping line 167225: ';' expected after '"'
Skipping line 168197: ';' expected after '"'
Skipping line 169877: ';' expected after '"'
Skipping line 170146: ';' expected after '"'
Skipping line 171011: ';' expected after '"'
Skipping line 171164: ';' expected after '"'
Skipping line 171326: ';' expected after '"'
Skipping line 171717: ';' expected after '"'
Skipping line 172521: ';' expected after '"'
Skipping line 175983: ';' expected after '"'
Skipping line 176133: ';' expected after '"'
Skipping line 176318: ';' expected after '"'
Skipping line 177628: ';' expected after '"'
Skipping line 177748: ';' expected after '"'
Skipping line 178532: ';' expected after '"'
Skipping line 178619: ';' expected after '"'
Skipping line 178790: ';' expected after '"'
Skipping line 179605: ';' expected after '"'
Skipping line 179613: ';' expected after '"'
Skipping line 179814: ';' expected after '"'
Skipping line 179903: ';' expected after '"'
Skipping line 180180: ';' expected after '"'
Skipping line 180357: ';' expected after '"'
Skipping line 180863: ';' expected after '"'
Skipping line 181197: ';' expected after '"'
Skipping line 181220: ';' expected after '"'
Skipping line 182095: ';' expected after '"'
Skipping line 182253: ';' expected after '"'
Skipping line 182560: ';' expected after '"'
Skipping line 182635: ';' expected after '"'
Skipping line 182640: ';' expected after '"'
Skipping line 182733: ';' expected after '"'
Skipping line 182769: ';' expected after '"'
Skipping line 182842: ';' expected after '"'
Skipping line 183823: ';' expected after '"'
Skipping line 183949: ';' expected after '"'
Skipping line 185768: ';' expected after '"'
Skipping line 186482: ';' expected after '"'
Skipping line 186938: ';' expected after '"'

In [11]:
users.head(2)

   User-ID                   Location   Age
0        1         nyc, new york, usa   NaN
1        2  stockton, california, usa  18.0

In [12]:
ratings=pd.read_csv("BX-Book-Ratings.csv",sep=";",error_bad_lines=False,encoding="latin-1",engine="python")

Skipping line 21689: ';' expected after '"'
Skipping line 45329: ';' expected after '"'
Skipping line 45330: ';' expected after '"'
Skipping line 183262: ';' expected after '"'
Skipping line 210093: ';' expected after '"'

In [13]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X          0.0
1   276726  0155061224          5.0
2   276727  0446520802          0.0
3   276729  052165615X          3.0
4   276729  0521795028          6.0

In [14]:
ratings.rename(columns={"Book-Rating":"Rating"},inplace=True)

In [15]:
ratings.head(2)

   User-ID        ISBN  Rating
0   276725  034545104X     0.0
1   276726  0155061224     5.0

In [16]:
books.shape

(29782, 5)

In [17]:
users.shape

(195247, 3)

In [18]:
ratings.shape

(377276, 3)

Now after cleaning and reshuffling the data, I am going to form the book reccommendation system based on only those users who have given Ratings to atleast 50 books.

In [19]:
ratings.head(2)

   User-ID        ISBN  Rating
0   276725  034545104X     0.0
1   276726  0155061224     5.0

In [20]:
ratings['User-ID'].value_counts()

11676     13600
35859      5850
278418     4533
76352      3367
16795      2948
          ...
19689         1
35700         1
58233         1
52092         1
41081         1
Name: User-ID, Length: 35324, dtype: int64

In [21]:
ratings['User-ID'].value_counts().shape

(35324,)

In [22]:
x=ratings['User-ID'].value_counts()>=50 ## The user id of only those who have given to atleast 50 books.
x

11676      True
35859      True
278418     True
76352      True
16795      True
          ...
19689     False
35700     False
58233     False
52092     False
41081     False
Name: User-ID, Length: 35324, dtype: bool

In [23]:
x[x].shape  # 608 users are those who have given ratings to atleast 50 books.

(1133,)

In [24]:
y=x[x].index
y

Int64Index([ 11676,  35859, 278418,  76352,  16795,  36836,  52584,  55492,
             60244,  69697,
            ...
             75089,  47856,  22409,  87155,  12194,   9381,  54193,  26517,
             42459,   4785],
           dtype='int64', length=1133)

In [25]:
#ratings.shape

In [26]:
ratings=ratings[ratings['User-ID'].isin(y)]

In [27]:
ratings.shape  ## top 608 people(who have given ratings to atleast 50 books) have given ratings to 140706 books.

(249388, 3)

In [28]:
ratings.head()

     User-ID        ISBN  Rating
173   276847  0446364193     0.0
174   276847  3257200552     5.0
175   276847  3379015180     0.0
176   276847  3404145909     8.0
177   276847  3404148576     8.0

Now let's merge this ratings dataframe to the books on the basis of ISBN.

In [29]:
ratings_with_books=ratings.merge(books,on="ISBN")
ratings_with_books

        User-ID        ISBN  Rating  ...           Author  Year          Publisher
0        276847  0446364193     0.0  ...  James Patterson  1993       Warner Books
1        278418  0446364193     0.0  ...  James Patterson  1993       Warner Books
2          5483  0446364193     0.0  ...  James Patterson  1993       Warner Books
3          7346  0446364193     0.0  ...  James Patterson  1993       Warner Books
4          8362  0446364193     0.0  ...  James Patterson  1993       Warner Books
...         ...         ...     ...  ...              ...   ...                ...
108762    90423  0671877372     0.0  ...   Doranna Durgin  1996               Baen
108763    90694  3596223946     0.0  ...   Judith Hermann  1998         S. Fischer
108764    90766  0330359916     0.0  ...   Robert Dessaix     0      Pan Books Ltd
108765    90766  0330363239     6.0  ...       Tim Winton  2001            Picador
108766    90766  1863739157     5.0  ...   Andrew McGahan  1995  Allen &amp; Unwin

[108767 rows x 7 columns]

In [30]:
number_ratings=ratings_with_books.groupby("Title")['Rating'].count().reset_index()
number_ratings

                                                   Title  Rating
0       Beyond IBM: Leadership Marketing and Finance ...       1
1                                           It Takes Two       1
2       Q-Space (Star Trek The Next Generation, Book 47)       7
3                           Tales of Terror and Suspense       1
4      ' Sie belieben wohl zu scherzen, Mr. Feynman.'...       1
...                                                  ...     ...
23170                                           stardust      10
23171                   why I'm like this : True Stories       3
23172                           Qu me quieres, amor?       1
23173                              ??ber die Freiheit.       1
23174                                     ??bermorgen.       1

[23175 rows x 2 columns]

In [31]:
number_ratings.rename(columns={"Rating":"No. of Ratings"},inplace=True)
number_ratings

                                                   Title  No. of Ratings
0       Beyond IBM: Leadership Marketing and Finance ...               1
1                                           It Takes Two               1
2       Q-Space (Star Trek The Next Generation, Book 47)               7
3                           Tales of Terror and Suspense               1
4      ' Sie belieben wohl zu scherzen, Mr. Feynman.'...               1
...                                                  ...             ...
23170                                           stardust              10
23171                   why I'm like this : True Stories               3
23172                           Qu me quieres, amor?               1
23173                              ??ber die Freiheit.               1
23174                                     ??bermorgen.               1

[23175 rows x 2 columns]

In [32]:
final_ratings=ratings_with_books.merge(number_ratings,on="Title")
final_ratings

        User-ID        ISBN  Rating  ...  Year          Publisher  No. of Ratings
0        276847  0446364193     0.0  ...  1993       Warner Books              61
1        278418  0446364193     0.0  ...  1993       Warner Books              61
2          5483  0446364193     0.0  ...  1993       Warner Books              61
3          7346  0446364193     0.0  ...  1993       Warner Books              61
4          8362  0446364193     0.0  ...  1993       Warner Books              61
...         ...         ...     ...  ...   ...                ...             ...
108762    90423  0671877372     0.0  ...  1996               Baen               1
108763    90694  3596223946     0.0  ...  1998         S. Fischer               1
108764    90766  0330359916     0.0  ...     0      Pan Books Ltd               1
108765    90766  0330363239     6.0  ...  2001            Picador               1
108766    90766  1863739157     5.0  ...  1995  Allen &amp; Unwin               1

[108767 rows x 8 columns]

In [33]:
final_ratings.shape

(108767, 8)

In [34]:
final_ratings=final_ratings[final_ratings['No. of Ratings']>=25]
final_ratings.shape

(29601, 8)

In [35]:
final_ratings.drop_duplicates(["User-ID","Title"],inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [36]:
final_ratings.shape

(28924, 8)

In [37]:
book_pivot=final_ratings.pivot_table(columns="User-ID",index="Title",values="Rating")
book_pivot

User-ID                                             183     ...  278843
Title                                                       ...
1984                                                   NaN  ...     NaN
1st to Die: A Novel                                    NaN  ...     NaN
2nd Chance                                             NaN  ...     NaN
4 Blondes                                              NaN  ...     NaN
A Beautiful Mind: The Life of Mathematical Geni...     NaN  ...     NaN
...                                                    ...  ...     ...
Word Freak: Heartbreak, Triumph, Genius, and Ob...     NaN  ...     NaN
Wuthering Heights                                      NaN  ...     NaN
Year of Wonders                                        NaN  ...     NaN
You Belong To Me                                       NaN  ...     NaN
Zen and the Art of Motorcycle Maintenance: An I...     NaN  ...     NaN

[671 rows x 1054 columns]

In [38]:
book_pivot.shape

(671, 1054)

In [39]:
book_pivot.fillna(0,inplace=True)
book_pivot

User-ID                                             183     ...  278843
Title                                                       ...
1984                                                   0.0  ...     0.0
1st to Die: A Novel                                    0.0  ...     0.0
2nd Chance                                             0.0  ...     0.0
4 Blondes                                              0.0  ...     0.0
A Beautiful Mind: The Life of Mathematical Geni...     0.0  ...     0.0
...                                                    ...  ...     ...
Word Freak: Heartbreak, Triumph, Genius, and Ob...     0.0  ...     0.0
Wuthering Heights                                      0.0  ...     0.0
Year of Wonders                                        0.0  ...     0.0
You Belong To Me                                       0.0  ...     0.0
Zen and the Art of Motorcycle Maintenance: An I...     0.0  ...     0.0

[671 rows x 1054 columns]

In [40]:
from scipy.sparse import csr_matrix
book_sparse=csr_matrix(book_pivot)
type(book_sparse)

scipy.sparse.csr.csr_matrix

In [41]:
from sklearn.neighbors import NearestNeighbors
model=NearestNeighbors(algorithm="brute")
model.fit(book_sparse)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='minkowski',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [73]:
distances, suggestions=model.kneighbors(book_pivot.iloc[202,:].values.reshape(1,-1),n_neighbors=6)

In [74]:
distances

array([[ 0.        , 56.93856338, 59.81638571, 61.66036004, 63.08724118,
        63.5295207 ]])

In [75]:
suggestions

array([[202, 205, 203, 268, 194, 608]])

In [76]:
for i in range(len(suggestions)):
  print(book_pivot.index[suggestions[i]])

Index(['Harry Potter and the Chamber of Secrets (Book 2)',
       'Harry Potter and the Prisoner of Azkaban (Book 3)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       'Like Water for Chocolate: A Novel in Monthly Installments With Recipes, Romances and Home Remedies',
       'Good Harbor: A Novel', 'The Woman Next Door'],
      dtype='object', name='Title')

In [72]:
book_pivot.index[54]
np.where(book_pivot.index=="Harry Potter and the Chamber of Secrets (Book 2)")[0][0]

202

Let's build a function, that when we input the name of a book, it gives us the recommendations of similar books.

In [81]:
def recommend_books(book_name):
  book_id=np.where(book_pivot.index==book_name)[0][0]
  distances,suggestions=model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1),n_neighbors=6)
  for i in range(len(suggestions)):
    print(book_pivot.index[suggestions[i]])

In [82]:
recommend_books("Ashes to Ashes")

Index(['Ashes to Ashes', 'Riptide', 'The First Wives Club Movie Tie In',
       'Mortal Fear', 'A Thin Dark Line (Mysteries &amp; Horror)',
       'The Woman Next Door'],
      dtype='object', name='Title')